.Container{
    padding-top: 50px;
    width: 100%;
    display: block;
    background-color: #d8e0ec;
}

.InformationBox{
    width:90%;
    margin:auto;
    margin-top: 20x;
    margin-bottom: 60px;
    border-radius: 12px;
    background-color: white;
    padding: 30px 20px;
    display: flex;
    flex-flow: column;
    align-items: left;
    border: 10px solid #033875;
}

.SubSection{
    margin-top: 20px;
}


strong{
    color:#033875;
}

.Title{
 color: #033875;
 border-bottom: #033875 thin solid
}

.Title h3{
    margin-bottom:  0;
    text-align: center

}

.UserInfo{
    margin-top: 20px;
    font-size: 20px;
}

.UserInfo p{
    text-align: left;

}


.Buttons{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.Buttons a{
    margin: auto;
}

.DeleteModal{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.DeleteModal button{
    margin-left: 5px;
    margin-right: 5px;
}


@media(min-width: 500px){

    .Container{
        padding-top: 50px;
        width: 60%;
        display: block;
        background-color: #d8e0ec;
        margin: auto;
}
    .InformationBox{
  
    align-items: center;
    }

    .Buttons {
      margin:auto;
    }

    .SubSection{
        width: 50%;
       
    }
    .UserInfo{
        display: flex;
        flex-flow: column;
        align-items: left;
        margin:auto;
        margin-top: 30px;

    }
    .Title h3{
        text-align: left;
    
    }
}